@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'DM Sans', 'Libre Baskerville', sans-serif;
    font-size: 18px;
}

.font-libre {
    font-family: Libre Baskerville;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* all text color and background color*/
.text-black {
    color: #00071B;
}

.bg-black {
    background-color: #00071B;
}

.text-black-soft {
    color: #272727;
}

.bg-black-soft {
    background-color: #272727;
}

.text-green {
    color: #0A8200;
}

.bg-green {
    background-color: #0A8200;
}

.text-ash {
    color: #C4C4C4;
}

.bg-ash {
    background-color: #C4C4C4;
}

.text-blue {
    color: #002482;
}

.bg-blue {
    background-color: #002482;
}

.text-white-soft {
    color: #F9FAFF;
}

.bg-white-soft {
    background-color: #F9FAFF;
}

.text-soft {
    color: #565656;
}

/* font size */
.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

.font-36 {
    font-size: 36px;
}

.font-48 {
    font-size: 48px;
}

.font-64 {
    font-size: 64px;
}

/* button background */
.btn-bg {
    background: #EEEEEE;
}

/* Banner carousel */
.bg-banner {
    background-image: url(../images/banner-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* slick slider */
.slick-next.slick-arrow,
.slick-prev.slick-arrow {
    background-color: #0A8200;
}

.width-350 {
    width: 350px;
}


/* Trending Section start */

.trending {
    margin-top: 100px;
    margin-left: 50px;
}

.trending>h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #272727;
    margin-bottom: 27px;

}

/* .star {
    width: 18.33px;
    height: 17.43px;
} */



.slider-container {
    position: relative;
    width: 1920px;
    height: 500px;
    cursor: grab;
}

.trending-images-slides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 40px;
    pointer-events: none;
}

.single-trending-details {
    overflow: hidden;
}

.single-trending {
    margin-left: 21px;
}

.single-trending>p {
    font-weight: 700;
    font-size: 24px;
    color: #272727;
    margin-top: 10px;

}

.single-trending>h5 {
    font-weight: 400;
    font-size: 18px;
    color: #272727;

}

.single-trending>h5>span {
    font-weight: 400;
    font-size: 18px;
    color: #848484;

}

.single-trending-prices>span {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #272727;
}

.single-trending-prices {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 12px;
}



.single-trending-details>img {
    border-radius: 10px 10px 0px 0px;
}

.single-trending-prices>h4 {
    font-size: 18px;
    text-decoration-line: line-through;
    color: #848484;
}

.single-trending-prices>h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #0A8200;
}

/* footer section*/
footer {
    background-color: #00071B;
}

.footer-logo {
    width: 76px;
    height: 65px;
}
/* Deal Section */
.deals>h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #272727;
    margin-bottom: 27px;

}

.deals {
    margin-top: 100px;
    margin-left: 50px;
}

.deals-container {
    position: relative;
    width: 1920px;
    height: 569px;
    cursor: grab;
}

.deals-images-slides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 40px;
    pointer-events: none;
    height: 569px;
}

.single-deals-details {
    overflow: hidden;
}

.single-deals-details>img {
    width: 489px;
    height: 298px;
}

.single-deals {
    margin-left: 21px;
    text-align: center;
}

.single-deals>img {
    margin-top: 30px;
    width: 151px;
    height: 62px;
}

.single-deals>h1 {
    margin-top: 43px;
    font-weight: 700;
    font-size: 36px;
    color: #272727;
}

.single-deals>p {
    margin-top: 23px;
    font-weight: 700;
    font-size: 24px;
    color: #272727;
}

/* trending offers
----------------------- */
.trending-offers>h1 {
    font-weight: 700;
    font-size: 36px;
    color: #272727;
    margin-left: 50px;
}

.trending-offers {
    margin-top: 80px;
}

.button {
    display: block;
    /* text-align: center;
    margin: 10px auto; */
    padding: 2px 10px;
    width: 120px;
    font-size: 24px;
    text-decoration: none;
    color: #272727;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-weight: 400;
}

.offer-div {
    width: 542px;
    height: 587px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(154, 142, 142);
}

.offer-div>img {
    width: 175px;
    height: 71px;
}

.offer-div>h1 {
    font-weight: 700;
    font-size: 48px;
    margin-top: 65px;
    margin-bottom: 48px;
    color: #272727;

}

.trending-offer {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 30px;
}

@media (max-width: 640px) {
    .footer-logo {
        width: 100px;
        height: auto;
    }
    .font-64{
        font-size: 36px;
    }
}